<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Thiago,</mat-card-title>
        <mat-card-subtitle>Everton Silva</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
        <p>
            Accenture Brasil Maio/2019 a dias atuais: Analista de sistemas Jr. Focado no
            desenvolvimento Back-end: Java, Spring Boot. Banco de dados: Sql developer. Front-End:
            Angular, BootStrap, Html 5, Css3. Versionamento de código: GitHub, Git Flow. Metodologia
            ágil: Sprint e Kanban. Ferramentas: Azure e Jira.
        </p>
    </mat-card-content>
</mat-card>